/* useful variables */

:root {
  --heading-font-size: 38px;
  --normal-font-size: 20px;
  --heading-color: #172b4d;
  --text-color: #172b4d;
  --btn-active: #36b37f;
  --btn-normal: #43B380;
  --card-text-color:#3A4A42;
}

/* welcome section */
.welcome-section {
  min-height: 100vh;
  width: 100vw;
  margin-top: 24%;
  background: url(./assets/mobile-images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: var(--heading-color);
}

.second-header {
  font-size: var(--heading-font-size);
  color: #43b886;
}

.welcome-header-text {
  max-width: 76%;
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
}

.intro-text {
  padding: 0 4px;
  max-width: 80%;
  font-size: var(--normal-font-size);
  text-align: center;
  margin: 0 auto;
}

.intro-text > p {
  color: var(--text-color);
}

ul > li {
  margin: auto;
  display: flex;
  justify-content: center;
  list-style: none;
}

.intro-text > ul {
  width: 68%;
  display: flex;
  margin: 45px auto;
  justify-content: space-around;
}

#logo {
  color: #28352f;
  font-size: var(--heading-font-size);
  text-decoration: none;
  font-weight: bold;
}

.next-page {
  width: fit-content;
  margin: 80px auto;
}

.nav-mobile {
  position: fixed;
  right: 2px;
  top: 4px;
}

.nav-mobile > nav {
  width: fit-content;
  display: flex;
}

.nav-mobile > nav > i {
  position: relative;
  color: #28352f;
  margin: auto;
  top: 30%;
  font-size: 28px;
}

header {
  position: fixed;
  width: 96vw;
  top: 0;
}

/* work section */

.work-section-title {
  color: var(--heading-color);
  font-size: var(--heading-font-size);
  max-width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.work-section-title > span {
  width: 80px;
  height: 6px;
  background-color: #43b886;
  margin: 0 auto;
  border-radius: 3px 3px;
}

/* cards */

.card-container {
  max-width: 86%;
  margin: 0 auto;
}
.img-placeholder {
  
  height: 500px;

  border-radius: 8% 8% 0 0;

}
/* work section cards */
.card-work {
  max-width: 88%;
  background-color: #EBF0EE;
  height: 554px;
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: column;
  border: solid #d0d9d4 1px;
  border-radius: 2% 2% 0 0;}

.see-project {
  background-color: var(--btn-normal);
  height: 40px;
  margin: 4% auto;
  border: none;
  border-radius: 8%;
  display: block;
  cursor: pointer;
  color: #fff;
} 

.languages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3px;
}

.card-details {
  background-color: #FFFFFF;
  width: 22rem;
  height: 80%;
  margin: 0 auto;
  color: var(--card-text-color);

  border-radius: 4% 4% 0 0;
}

.card-description {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.languages > li {
  width: fit-content;
  background-color: #ebf0ee;
  border-radius: 4%;
  padding: 0 2%;
 
}

/* about section cards */

.card-about{
  max-width: 88%;
  background-color: #EBF0EE;
  height: 354px;
  display: flex;
  flex-direction: column;
  border: solid #d0d9d4 1px;
  border-radius: 2% 2% 0 0;
}

.card-about > .img-placeholder > img {
position: relative;
top: 20% ;
left: 30%;
}
.card-about > .img-placeholder {
  height: 310px;
}

.card-about > .card-details {
  width: 20rem;
  background-color: inherit;
  height: 310px;
}
.card-about > .card-details > h2{
  color:#172b4d;
  text-align: center;
}
.card-about > .card-details > .languages{
  display: flex;
  justify-content: center;
  color: #43B37F;
  
}
.card-about > .card-details > .languages > li {
  width: fit-content;
  background-color: #fff;
  border-radius: 4%;
  padding: 0 2%;
 
}

